<a href="https://colab.research.google.com/github/r1marcus/TraintheTrainer-Daten/blob/main/01_Daten_load_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modul Daten

Dieses Jupyter Notebook soll einen Überblick über die Aufbereitung, Bereinigung und Visualisierung von Daten vermitteln. 

Für diesen Zweck wurde die Datenbank Gas Sensor Array Drift verwendet, heruntergeladen und vorher für diesen Zweck manipuliert (Gas- und Konzentrationsklassenlaben wurden zu einem Label zusammen geführt und dabei drei verschiedene Konzentrationsstufen definiert: low, medium und high). <br>
Der vollständige Datensatz kann auf <br>

http://archive.ics.uci.edu/ml/datasets/Gas+Sensor+Array+Drift+Dataset+at+Different+Concentrations

heruntergeladen werden. Außerdem werden verschiedene Informationen zu den Daten bereitgestellt. <br>

Der Datensatz enthält 13.910 Messungen von 16 chemischen Sensoren, welche abwechselnd sechs verschiedene Gase (Ethanol, Ethen, Ammoniak, Acetaldehyd, Aceton und Toluol) in verschiedenen Konzentrationen untersuchen. <br>
Der Datensatz wurde zwischen Januar 2008 und Februar 2011 (36 Monaten) erhoben. <br>
Jede Messung liefert anhand der 16 vorhandenen Sensoren eine 16-Kanal-Zeitreihe. <br>
Es werden zwei Hauptfeatures in diesem Datensatz betrachtet: <br>
$\rightarrow~$ (i) das stationäre Feature (steady-state) bezeichnet als `DR`, definiert als die maximale Widerstandsänderung in Bezug auf eine Basis, sowie die normalisierte Version davon (`|DR|`). <br>
$\rightarrow~$ (ii) ein Ansammlung an Features welche die Sensordynamik der gesamten Messung wiederspiegelt (`EMAi` und `EMAd` für verschiedene $\alpha$-Werte). <br>

Im folgendem Beispiel werden wir uns nur mit dem `DR` Feature auseinandersetzen. Da jeder der 16 Sensoren diesen Messwert liefert, sind auch 16 verschiedene Messwerte von `DR` vorhanden (`DR_1` des ersten Sensors, `DR_2`, des zweiten Sensorns und wo weiter).

## Laden des Pandas DataFrames

Als erstes müssen alle Beispieldatensätze geladen werden. Dieser liegen in 10 verschiedene csv Dateien vor (batch0.csv bis batch9.csv). Anschließend werden diese zu einem gemeinsamen Datensatz zusammengeführt.

In [1]:

!git clone https://github.com/r1marcus/TraintheTrainer-Daten.git
!echo $CWD
!cp -rf /content/TraintheTrainer-Daten/* /content/

Cloning into 'TraintheTrainer-Daten'...
remote: Enumerating objects: 28, done.
remote: Counting objects: 100% (28/28), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 28 (delta 4), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (28/28), done.

In [2]:
import scripts.load

Download dataset from URL: http://archive.ics.uci.edu/ml/machine-learning-databases/00270/
Extract files to : /content/input/dataset_dat//driftdataset.zip
Convert dat files to csv
445 lines have been written for batch 1
1244 lines have been written for batch 2
1586 lines have been written for batch 3
161 lines have been written for batch 4
197 lines have been written for batch 5
2300 lines have been written for batch 6
3613 lines have been written for batch 7
294 lines have been written for batch 8
470 lines have been written for batch 9
3600 lines have been written for batch 10
13910 lines have been written in total
call load_svmlight_file for batch1.csv
call load_svmlight_file for batch2.csv
call load_svmlight_file for batch3.csv
call load_svmlight_file for batch4.csv
call load_svmlight_file for batch5.csv
call load_svmlight_file for batch6.csv
call load_svmlight_file for batch7.csv
call load_svmlight_file for batch8.csv
call load_svmlight_file for batch9.csv
call load_svmlight_file for batch10.csv

(                 target           DR_1  ...  EMAd0.01_16  EMAd0.1_16
 0           Ethanol low   25818.149843  ...    -0.736340   -2.659883
 1           Ethanol low   60709.625721  ...    -0.985612   -2.130838
 2           Ethanol low   36303.965471  ...    -2.099862   -2.653119
 3           Ethanol low   62459.584602  ...    -2.471731   -2.234863
 4           Ethanol low   57556.398911  ...    -2.623950   -4.459580
 ...                 ...            ...  ...          ...         ...
 13905        Aceton low   23868.891091  ...    -0.776385  -10.700386
 13906  Acetaldehyd high   32316.529061  ...    -8.784512  -13.327692
 13907       Aceton high  181215.658764  ...   -29.355278  -58.544381
 13908  Acetaldehyd high   37716.945370  ...    -1.885420   -9.131280
 13909       Aceton high  226818.722068  ...   -53.456210 -124.193138

 [13910 rows x 129 columns],
                  target         DR_1  ...  EMAd0.01_16  EMAd0.1_16
 0           Ethanol low   15596.1621  ...    -0.902241   -2.654529
 1           Ethanol low   26402.0704  ...    -1.323505   -1.749225
 2           Ethanol low   42103.5820  ...    -1.993659   -2.348370
 3           Ethanol low   42825.9883  ...    -2.146158   -2.488957
 4           Ethanol low   58151.1757  ...    -2.931265   -4.088756
 ...                 ...          ...  ...          ...         ...
 13905        Aceton low   28929.5108  ...    -1.407700   -4.447900
 13906  Acetaldehyd high   40392.1230  ...    -7.655300  -12.767100
 13907       Aceton high  183271.5898  ...   -28.516200  -56.332800
 13908  Acetaldehyd high   29059.8516  ...    -4.734300   -9.573100
 13909       Aceton high  230762.7607  ...   -54.254800 -125.588800

 [13910 rows x 129 columns],
 ['/content/input/modified_df/batch0.csv',
  '/content/input/modified_df/batch5.csv',
  '/content/input/modified_df/batch7.csv',
  '/content/input/modified_df/batch8.csv',
  '/content/input/modified_df/batch2.csv',
  '/content/input/modified_df/batch4.csv',
  '/content/input/modified_df/batch6.csv',
  '/content/input/modified_df/batch3.csv',
  '/content/input/modified_df/batch1.csv',
  '/content/input/modified_df/batch9.csv'],
 ['/content/input/original_df/batch0.csv',
  '/content/input/original_df/batch5.csv',
  '/content/input/original_df/batch7.csv',
  '/content/input/original_df/batch8.csv',
  '/content/input/original_df/batch2.csv',
  '/content/input/original_df/batch4.csv',
  '/content/input/original_df/batch6.csv',
  '/content/input/original_df/batch3.csv',
  '/content/input/original_df/batch1.csv',
  '/content/input/original_df/batch9.csv'])

In [3]:
df_modified, df_original,all_files_mod,all_files_original = scripts.load.load()

Download dataset from URL: http://archive.ics.uci.edu/ml/machine-learning-databases/00270/
Extract files to : /content/input/dataset_dat//driftdataset.zip
Convert dat files to csv
445 lines have been written for batch 1
1244 lines have been written for batch 2
1586 lines have been written for batch 3
161 lines have been written for batch 4
197 lines have been written for batch 5
2300 lines have been written for batch 6
3613 lines have been written for batch 7
294 lines have been written for batch 8
470 lines have been written for batch 9
3600 lines have been written for batch 10
13910 lines have been written in total
call load_svmlight_file for batch1.csv
call load_svmlight_file for batch2.csv
call load_svmlight_file for batch3.csv
call load_svmlight_file for batch4.csv
call load_svmlight_file for batch5.csv
call load_svmlight_file for batch6.csv
call load_svmlight_file for batch7.csv
call load_svmlight_file for batch8.csv
call load_svmlight_file for batch9.csv
call load_svmlight_file for batch10.csv

## Ein kurzer Blick auf die Datenstruktur

Um ein Gefühl für die Datenstruktur zu erhalten bietet Pandas die folgenden Methoden an: <br>

`head(n)` $\longrightarrow~$ Gibt die $n$ ersten Zeilen (default $n$ = 5) aus. Nützlich um schnell zu testen, ob das Objekt im richtigen Datentyp vorliegt. <br>
`info()` $\longrightarrow~$ Gibt eine übersichtliche Zusammenfassung des DataFrames aus, einschließlich des Index dtypes, des Spalten dtypes, Nicht-Null-Werte sowie den Speicherverbrauch. <br>
`describe()` $\longrightarrow~$ Erstellt deskriptive Statistiken, welche die zentrale Tendenz, Verteilung und Form der Verteilung eines Datensatzes unter Ausschluss von NaN-Werten zusammenfasst. <br>
`value_count()` $\longrightarrow~$ Gibt die Anzahl eindeutiger Werte in absteigender Reihenfolge wieder. Muss an einem Feature aufgerufen werden.

Werfen wir als erstes ein Blick auf die `head()` Methode:

In [4]:
df_modified.head()

        target          DR_1    |DR|_1  ...  EMAd0.001_16  EMAd0.01_16  EMAd0.1_16
0  Ethanol low  11832.397440  2.054841  ...     -0.687056    -0.410994   -2.568907
1  Ethanol low  30476.307044  2.137585  ...     -0.958040    -2.314289   -1.105236
2  Ethanol low  46776.223859  3.934613  ...     -1.440085    -2.059407   -1.428642
3  Ethanol low  54798.219829  2.562046  ...     -1.080323    -2.350462   -1.311463
4  Ethanol low  76676.499583  3.618818  ...     -1.709125    -3.114449   -4.610056

[5 rows x 129 columns]

Die erste Spalte verät uns das Klassenlabel. Die erste Instanz ist demnach eine Messung am Gas Ethanol bei niedriger Konzentration. Alle weitere Spalten beinhalten Daten die zu diesem Zeitpunkt bzw. Messpunkt erhoben worden sind. <br>

Rufen wir die `info()` Methode an den ersten fünf Spalten auf.

In [8]:
df_modified.iloc[:,:5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13910 entries, 0 to 13909
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   target       13910 non-null  object
 1   DR_1         13895 non-null  float64
 2   |DR|_1       13897 non-null  float64
 3   EMAi0.001_1  13897 non-null  float64
 4   EMAi0.01_1   13888 non-null  float64
dtypes: float64(4), object(1)
memory usage: 543.5+ KB

Für Pandas Indexing und Slicing siehe https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html. <br>

`info()` listet uns die verschiedene dtypes auf: vier float64 und eins vom Typ object. Anhand der unterschiedlichen Instanzen (total: 13910, DR_1: 13892, ...) erkennen wir, dass der Datensatz unvollständig ist (NaNs können ein Grund dafür sein). <br>

Werfen wir als nächstes ein Blick auf die `describe()` Methode.

In [9]:
df_modified.iloc[:,:5].describe()

                DR_1        |DR|_1   EMAi0.001_1    EMAi0.01_1
count   13895.000000  13897.000000  13897.000000  13888.000000
mean    50400.118245      6.617693     12.944493     18.750815
std     70124.624439     13.590709     17.689098     24.991110
min    -31818.180553     -8.763653     -8.565950    -10.856312
25%      6834.149848      2.281935      1.733774      2.594912
50%     20934.360387      3.972188      5.230146      7.818906
75%     63509.899083      8.603444     17.169192     26.075490
max    671302.279444   1345.068265    168.026617    231.526531

`describe()` bietet zusätzliche Informationen zu den jeweiligen Features. Dazu gehört die Anzahl, der Mittelwert (mean), die Standardabweichung (std) sowie das minimale, 25%, 50%, 75% und das maximale Quantil.

In [10]:
df_modified['target'].value_counts()

Aceton high           1834
Toluol low            1425
Ethen low             1190
Ammoniak high         1156
Ethanol low           1083
Ethen high            1082
Ethanol high           963
Acetaldehyd high       836
Ethen medium           654
Aceton low             642
Acetaldehyd low        565
Acetaldehyd medium     535
Aceton medium          533
Ethanol medium         519
Toluol medium          397
Ammoniak medium        311
Ammoniak low           174
Toluol high             11
Name: target, dtype: int64

Wir haben `value_counts()` an der `target` Spalte aufgerufen und sehen das Aceton medium mit 1924 Einträge über die meisten Messungen verfügt. Gefolgt von Toluol low und so weiter.

### Pandas Profiling

Im folgenden soll noch Pandas Profiling vorgestellt werden. Pandas Profiling bietet ähnlich wie die `describe()` Methode statistische Auswertungen. Mehr dazu kann auf https://github.com/pandas-profiling/pandas-profiling gelesen werden. <br>

Der folgende Code (auskommentiiert da dieser Schritt zeitintensiv ist) erstellt ein vollständigen Bericht und speichert diesen als `report.html` im lokalen Verzeichnis ab.

In [ ]:
#profile = df_modified.profile_report(title='Pandas Profiling Report')
#profile.to_file(output_file="report.html")